@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

h2 {
    color: #fff;
    font-weight: 600;
}

.qr-card {
    background: white;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: 10px 0;
}

.qr-card img {
    width: 200px;
    border-radius: 10px;
}

.upi-id {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.copy-btn {
    background: #ff5733;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.copy-btn:hover {
    background: #e74c3c;
}

.paytm-logo {
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
}

.paypal-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.paypal-link:hover {
    text-decoration: underline;
  }
